# IntelliJ
/.idea/

# Main Files
/variables.txt
/server.jar
/git.sh

# Spigot
/cache/
/libraries/
/eula.txt
/versions/
/world/
/world_nether/
/world_the_end/
/banned-ips.json
/banned-players.json
/help.yml
/ops.json
/usercache.json
/version_history.json
/whitelist.json

# Logs
/logs/
/*.log

# Plugins
/plugins/bStats/