(
    ["SERVER_PORT"]=""
    ["PROXY_FORWARDING_SECRET"]=""
    ["SERVER_NAME"]=""
    ["DB_HOST"]=""
    ["DB_USER"]=""
    ["DB_PASSWORD"]=""
    ["DB_DATABASE"]=""
    ["PLAN_DB_HOST"]=""
    ["PLAN_DB_USER"]=""
    ["PLAN_DB_PASSWORD"]=""
    ["PLAN_DB_DATABASE"]=""
)